*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{

    margin: 0 auto;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 14px;
}

input, select{
    padding: 12px;
    border: solid 1px #cecece;
    border-radius: 8px;
    outline:none;
}

button{
    background-color: #383838;
    color: #cecece;
    padding: 12px;
    border: solid 1px #cecece;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.5s;
}

button:hover{
    background-color: #cecece;
    color: #383838;
}

.error{
    border: solid 1px #ff0202;
}
.correcto{
    border: solid 1px #00a50e;
}



.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}
    
/* 
.formulario{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 15px;
} */

.fondo{
    display: grid;
    margin-top: 50px;
    grid-template-areas: 
    "formulario tabla";
    grid-template-columns: 400px 1fr;
    gap: 1rem;

}

.formulario{
    grid-area: formulario;
}

.tabla{
    grid-area: tabla;
}
